---
import SectionContainer from "@components/SectionContainer.astro";

const ARTICLES = [
  {
    title: "Qué esperar de un proceso de selección",
    contentId: "selection-process",
    class: "bg-yellow-100 text-ij-yellow",
  },
  {
    title: "Los puestos emergentes que van a petarlo",
    contentId: "emergent-positions",
    class: "bg-red-100 text-ij-red",
  },
  {
    title: "Las opinión de las empresas",
    contentId: "company-opinion",
    class: "bg-sky-800 text-ij-blue",
  },
  {
    title: "¿Sin experiencia? Destaca en las entrevistas",
    contentId: "no-experience",
    class: "bg-green-100 text-ij-green",
  },
];
---

<SectionContainer>
  <h2 class="text-ij-black text-2xl pb-6">Prepárate para ganar</h2>
  <div class="grid grid-cols-1 gap-4">
    {
      ARTICLES.map(({ class: className, title, contentId }) => (
        <button
          class:list={[
            "aspect-square w-full h-full p-4 rounded-2xl flex justify-start transition hover:scale-105",
            className,
          ]}
        >
          <span class="font-medium text-3xl text-left text-pretty tracking-separated pr-3">
            {title}
          </span>
        </button>
      ))
    }
  </div>
</SectionContainer>
