<a
  href="https://cooljobs.infojobs.net/"
  target="_blank"
  rel="noopener noreferrer"
>
  <div
    class:list={[
      "bg-[#fe52308f] w-auto h-[130px] rounded-2xl p-6 gap-4 lg:flex-col lg:items-start lg:justify-center",
      Astro.props.class,
    ]}
  >
    <img
      src="/img/cool-jobs/cool-jobs.webp"
      alt="Logo Cool Jobs"
      class="px-4 lg:px-0"
    />
    <p class="text-white text-sm leading-4 tracking-[0.1px]">{"Ver todos >"}</p>
  </div>
</a>
