<a
  href="https://cooljobs.infojobs.net/"
  target="_blank"
  rel="noopener noreferrer"  
  class="flex justify-center items-center"
>
  <div
    class:list={[
      "group bg-[#fe52308f] w-[275px] h-[130px] rounded-2xl p-6 gap-4 lg:flex-col lg:items-start lg:justify-center ",
      Astro.props.class,
    ]}
  >
    <img
      src="/img/cool-jobs/cool-jobs.webp"
      alt="Logo Cool Jobs"
      class="px-4 lg:px-0 group-hover:scale-105 transition-transform"
    />
    <p class="text-white text-sm p-4 tracking-[0.1px] text-center md:p-0 ">{"Ver todos >"}</p>
  </div>
</a>
