---
import AppStore from "@icons/AppStore.astro";
import Facebook from "@icons/Facebook.astro";
import GooglePlay from "@icons/GooglePlay.astro";
import TikTok from "@icons/TikTok.astro";
import Twitter from "@icons/Twitter.astro";
import YouTube from "@icons/YouTube.astro";
import FollowUsLink from "./FollowUsLink.astro";
---

<section
  class="bg-[#F5F5F5] flex flex-col items-center justify-between py-4 lg:p-10 lg:flex-row"
>
  <article
    class="w-full flex items-center justify-center gap-2 py-4 flex-wrap lg:justify-start"
  >
    <h4 class="tracking-[0.38px] text-xl leading-6 font-semibold">
      ¡Síguenos!
    </h4>

    <span class="flex items-center gap-2">
      <FollowUsLink href="https://www.tiktok.com/@infojobs">
        <TikTok />
      </FollowUsLink>

      <FollowUsLink href="https://www.youtube.com/InfoJobs">
        <YouTube />
      </FollowUsLink>

      <FollowUsLink href="https://x.com/InfoJobs">
        <Twitter />
      </FollowUsLink>

      <FollowUsLink href="https://www.facebook.com/InfoJobs">
        <Facebook />
      </FollowUsLink>
    </span>
  </article>

  <article
    class="flex items-center justify-center gap-4 pb-4 flex-wrap lg:flex-nowrap lg:pb-0"
  >
    <FollowUsLink href="https://infojobs.go.link/?adj_t=1b8zxouv_1bnixj2z">
      <GooglePlay />
    </FollowUsLink>

    <FollowUsLink href="https://infojobs.onelink.me/2882600328/rjh2wn2f">
      <AppStore />
    </FollowUsLink>
  </article>
</section>
