---
import CloseIcon from "@icons/CloseIcon.astro";
---

<section
  id="infographic-modal"
  class="transition-all fixed inset-0 bg-white p-2 z-[999] opacity-0 invisible"
>
  <header class="w-full h-[40px] flex items-center justify-end px-4 lg:px-8">
    <button
      id="btn-modal"
      class="p-2 rounded-full transition-colors md:hover:bg-gray-200"
    >
      <CloseIcon />
    </button>
  </header>
  <div
    id="infographic-modal-body"
    class="h-full w-full rounded-lg overflow-y-auto"
  >
  </div>
</section>

<style>
  .modal-active {
    opacity: 1;
    visibility: visible;
  }
</style>
