<p class="font-semibold text-[34px]">InfoJobs, ¿la de trabajar te la sabes?</p>

<div class="w-full aspect-[9/16] sm:aspect-[16/9] sm:col-span-2 rounded-3xl overflow-hidden relative">
    <a href="https://kingsleague.ofertas-trabajo.infojobs.net/" target="_blank">
        <div class="absolute inset-0 w-full h-auto bg-kings-league bg-cover bg-center origin-center transition md:hover:scale-105 md:hover:z-10">
              <div class="inset-0 p-4 sm:p-6 flex flex-col justify-end">
                <h3 class="text-2xl text-white/80">Patrocinador oficial</h3>
                <h2 class="text-5xl font-bold text-white ">
                  Kings League InfoJobs
                </h2>
              </div>
          </div>
    </a>
</div>
  