<div class="w-full aspect-[9/10] sm:aspect-[1/1] rounded-3xl overflow-hidden relative mt-4 sm:mt-0">
    <a href="https://kingsleague.ofertas-trabajo.infojobs.net/" target="_blank">
        <div class="absolute inset-0 w-full h-auto bg-gray-500 bg-cover bg-center origin-center">
              <div class="inset-0 p-4 sm:p-6 flex flex-col justify-end">
                <h3 class="text-2xl text-white/80">Ofertas de empleo</h3>
                <h2 class="text-5xl font-bold text-ij-green ">
                  Miles de oportunidades
                </h2>
              </div>
           
          </div>
    </a>
</div>
  