---
import KingsLeagueInfo from "./KingsLeagueInfo.astro"
import SectionContainer from "./SectionContainer.astro"
---

<SectionContainer>
  <h2 class="text-ij-black text-2xl pb-6">InfoJobs, ¿la de trabajar te la sabes?</h2>
  <KingsLeagueInfo />
  <!-- <OfertasEmpleo /> -->
  <!-- <OportunidadesTikTok /> -->
</SectionContainer>
