---
import KingsLeagueInfo from "@components/KingsLeagueInfo.astro"
import SectionContainer from "@components/SectionContainer.astro"
import OportunidadesTikTok from "@components/OportunidadesTikTok.astro"
---

<SectionContainer>
  <div class="flex flex-col gap-10">
    <KingsLeagueInfo />
    <OportunidadesTikTok />
  </div>
</SectionContainer>
