---
import LiteYoutube from "./LiteYoutube.astro"
---

<section class="mx-auto max-w-7xl w-full mb-20">
    <div class:list="mx-auto w-full">
        <h2 class="text-ij-black text-2xl pb-6 px-4">Trabaja con los mejores</h2>
        <div class="flex overflow-scroll custom-scrollbar px-2 snap-mandatory snap-x">
            <LiteYoutube videoId="TLkFJKdGYkA" title="Video 1" />
            <LiteYoutube videoId="ZQSea0oqOso" title="Video 2" />
            <LiteYoutube videoId="4oaOwHaL15Q" title="Video 3" />
        </div>
</div>
</section>

<style>
.custom-scrollbar::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
</style>